---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-8">
    {{ content }}
  </div>
  <div class="col-md-4 text-center">
    <img src="{{ site.github.url }}/assets/img/profile.jpg" alt="Mingxuan Li" style="width: 100%; max-width: 180px; height: auto; border-radius: 8px;">
  </div>
</div>

{% include publications.html %}

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Ongoing Projects</h3>
    <ul>
      <li class="mb-3">
        <b>SlackBench.</b> Leading the development of SlackBench at the UC Berkeley Sky Computing Lab, with Huanzhi Mao and advised by Alexandros G. Dimakis and Joseph E. Gonzalez. Public release coming soon.
      </li>
    </ul>
  </div>
</div>
